.coordinates__input {
    appearance: auto;
    -moz-appearance: textfield;
    width: 5.5ch;
    margin-left: 1ch;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 0.5ch;
    font-size: small;
}

.coordinates__input::-webkit-outer-spin-button,
.coordinates__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.coordinates__btn {
    vertical-align: middle;
    border: white 1px solid;
    height: 1.5em;
    width: 1.5em;
    margin-top: 2px;
    text-align: center;
    line-height: 1em;
    padding: 0 !important;
    background-color: #bc2d2f;
    border-radius: 1em;
    /*padding: 0 0.75ch;*/
}

.coordinates__svg {
    width: 50%;
    margin: 0 auto;
    fill: #111;
}
